* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f4f9ff;
}

.container {
    background: white;
    max-width: 484px;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #7c57ff;
    font-weight: 650;
    color: white;    
}
.form_content{
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.form_content input,.form_content select{
    margin-top: 10px;
    width: 85%;
    height: 30px;
    padding: 5px;
    color: #3f5c7c;
    border: #3f5c7c 1px solid ;
    outline: none;
    font-weight: 550;
}
.form_content textarea{
    outline: none;
    border: #3f5c7c 1px solid ;
    font-weight: 550;
    margin-top: 10px;
    color: #3f5c7c;
    height: 80px;
    width: 85%; 
    padding: 5px;
    resize: none;
}
span{
    color: red;
}
.form_content label{
    color: #3f5c7c;
}
.stars{
    margin-top: 10px;
}
.stars i{
    margin-left: 5px;
    font-size: 18px;
}
.form_content input[type="submit"]{
    background: #3e9fff;
    border: none;
    outline: none;
    width: 200px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 1px 8px rgb(102, 102, 196);
    cursor: pointer;
    margin-bottom: 50px;
    font-size: 15px;
}
@media only screen and (max-width:600px){
    h2{
        font-size: 18px;
    }
    .header{
        height: 50px;
    }
    .form_content{
        margin-top: 20px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }
    .form_content input,.form_content select{
    margin-top: 10px;
    }
    .container {
        height: 100vh;
    }
}